#noMeio{
    background-color: rgb(85, 33, 134);
    margin: 3% 30%;
    padding: 2%;
    color: #fff;
    
}

#titulos{
    text-align: center;
    font-family: 'Xanh Mono', monospace;
    margin-bottom: 7%;
}

input{
    height: 25px;
    border: none;
    border-radius: 10px;
}

fieldset{
    background-color: rgb(122, 120, 120);
    border: none;
    border-radius: 20px;
    width: 50%;
    margin: 2% auto;
    text-align: center;
}
